<h1>Edit Photo <%= @my_photo.id %></h1>

<form action="/update_photo/<%= @my_photo.id %>">
        <div>
          <label for="url">
            Image URL
          </label>

          <input id="url" name="url" value="<%= @my_photo.source %>">
        </div>

        <div>
          <label for="caption">
            Caption
          </label>

          <input id="caption" name="caption" value="<%= @my_photo.caption %>">
        </div>


        <button>
          Update photo
        </button>
      </form>
