<div class="container">
  <div class="col-md-6">

<h1>Photo Details</h1>

<img src="<%=@my_photo.source%>">

<p>
  <%=@my_photo.caption%>
</p>

<p>
  <%= time_ago_in_words(@my_photo.created_at)%> ago
</p>

<a class="btn btn-secondary" href="/photos">Go back</a>
<a class="btn btn-secondary">Edit</a>
<a class="btn btn-secondary">Delete</a>

</div>
</div>
